.hero {
	height: calc(100vh - 1rem - 40px);
	display: flex;
	justify-content: space-evenly;
	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 600px;
		&-intro,
		&-desc {
			font-weight: 200;
			color: #3f3f3f;
		}

		&-intro {
			color: var(--accent-color);
			margin-bottom: 30px;
		}

		&-heading {
			margin-bottom: 70px;
		}

		&-tablet {
			display: none;
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 70px;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: end;
		&-img {
			box-shadow: 6px 10px 223px 7px rgba(0, 163, 255, 0.44);
			-webkit-box-shadow: 6px 10px 223px 7px rgba(0, 163, 255, 0.44);
			-moz-box-shadow: 6px 10px 223px 7px rgba(0, 163, 255, 0.44);
			border-radius: 1.25rem;
			max-width: 450px;
			max-height: 600px;
		}
	}
}

@media screen and (max-width: 1600px) {
	.hero {
		&__right {
			&-img {
				max-height: 450px;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.hero {
		&__left {
			width: 100%;
			&-content {
				display: none;
			}

			&-tablet {
				display: flex;
				gap: 1.5rem;
				flex-direction: column;
				&-block {
					display: flex;
					align-items: center;
					gap: 2rem;
				}
			}
		}

		&__right {
			display: none;
			&-img {
				max-width: 350px;
				max-height: 450px;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.hero {
		&__left {
			width: 100%;
			justify-content: center;
			&-intro {
				margin-bottom: 10px;
			}
			&-heading {
				font-size: 30px;
				margin-bottom: 50px;
			}

			&-content {
				display: none;
			}

			&-tablet {
				display: flex;
				gap: 1.5rem;

				.hero__right-img {
					height: 250px;
					max-width: 200px;
				}

				&-block {
					flex-direction: column;
				}
			}
		}
	}
}
