.pricing {
	padding-bottom: 6rem;
	padding-left: 150px;
	padding-right: 150px;
	&__upper {
		color: var(--accent-color);
	}

	&__block {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.5rem;
		&-card {
			gap: 1rem;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			max-width: 300px;
			&-price {
				font-weight: 500;
			}
			&-upper {
				color: var(--accent-color);
				display: flex;
			}
			&-features {
				&-icon {
					width: 20px;
					height: 20px;
				}
			}
			&-button {
				margin-top: 2rem;
			}
		}

		&-card:hover {
			transform: scale(1.01);
			cursor: pointer;
			transition: var(--speed) var(--duration);
		}
	}
}

@media screen and (max-width: 1600px) {
	.testimonials__headline {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 992px) {
	.pricing {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media screen and (max-width: 576px) {
	.pricing {
		padding-left: 50px;
		padding-right: 50px;
	}
}
