.pricing {
	padding-bottom: 6rem;
	&__upper {
		color: var(--accent-color);
	}

	&__block {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.5rem;
		&-card {
			gap: 1rem;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			max-width: 300px;
			&-upper {
				color: var(--accent-color);
			}
			&-features {
				&-icon {
					width: 20px;
					height: 20px;
				}
			}
			&-button {
				margin-top: 2rem;
			}
		}

		&-card:hover {
			scale: 1.01;

			transition: var(--speed) var(--duration);
		}
	}
}
