.roadmap {
	background: var(--accent-color);
	display: flex;
	flex-direction: column;
	padding-bottom: 6rem;
	&__headline {
		&-upper {
			color: var(--secondary-text-color);
		}

		&-main {
			color: #fff;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
		align-items: center;
		&-row {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 1rem;
			width: 80%;
		}

		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;

			&-img {
				width: 30px;
				height: 30px;
			}

			&-heading {
				color: #fff;
				width: 400px;
			}

			&-desc {
				color: var(--secondary-text-color);
				width: 400px;
			}
		}

		&-text,
		&-images {
			flex: 1; // Allows these elements to grow and take available space equally
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
		}

		// Specific styles for the step block to prevent it from growing
		&-step {
			flex: 0 1 auto; // Do not grow, allow shrink, basis auto
			display: flex;
			align-items: center;
			flex-direction: column;

			// Style for the step description
			&-desc {
				font-size: 30px;
				color: #fff;
				padding: 1.5rem 2rem;
				background: var(--button-color);
				border-radius: 0.75rem;
			}
		}

		&-images {
			display: flex;
			align-items: end;
			&-image {
				width: 250px;
				height: 250px;
				border-radius: 1rem;
			}
		}
	}
}
@media screen and (max-width: 1300px) {
	.roadmap__block-row {
		width: 100%;
	}
	.roadmap__block-text-headline {
		width: 300px;
	}

	.roadmap__block-text-desc {
		width: 300px;
	}

	.roadmap__block-images-image {
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 992px) {
	.roadmap {
		&__block {
			&-row {
				width: 100%;
			}
			&-text {
				&-headline {
					width: 250px;
					font-size: 12px;
				}
				&-desc {
					width: 250px;
				}
			}
			&-images {
				&-image {
					width: 200px;
					height: 200px;
				}
			}

			&-step {
				&-desc {
					font-size: 25px;
					color: #fff;
					padding: 1rem 1.5rem;
					background: var(--button-color);
					border-radius: 0.75rem;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.roadmap {
		&__block {
			&-row {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 2rem;
				padding: 2rem 1.5rem;
			}

			&-text {
				width: 100%;
				align-items: center;

				&-desc {
					text-align: center;
				}
			}
		}
	}
}
