.testimonials {
	padding-bottom: 4rem;
	&__upper {
		color: var(--accent-color);
	}
	&__main {
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 1600px) {
	.testimonials__headline {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}
