* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	position: relative;
	text-decoration: none;
}

button {
	font-family: "Rubik";
}

nav ul li a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 4px;
	background-color: #2db5ff;
	bottom: -8px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform var(--duration) var(--speed);
}

nav ul li a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

a {
	color: #000;
}

.active-page {
	color: var(--accent-color);
}

input {
	padding: 1rem;
	border: none;
	width: 500px;
	border-radius: 0.75rem;
	font-size: 18px;
}

textarea:focus,
input:focus {
	outline: none;
}

body {
	font-family: "Rubik";
	background-image: linear-gradient(
		to right,
		rgb(228, 241, 255),
		rgb(204, 251, 241)
	);
}

select {
	appearance: none;
	/* safari */
	-webkit-appearance: none;
	/* other styles for aesthetics */
	// padding: 0.4rem 0.5rem;
	background-color: transparent;
	border: transparent;
	color: #000;
	cursor: pointer;
	font-size: 22px;
}

.split {
	width: 50%;
}

.logo {
	width: 60px;
	height: 60px;
}

@media screen and (max-width: 1600px) {
	.logo {
		width: 40px;
		height: 40px;
	}

	input {
		width: 400px;
		font-size: 16px;
	}
}

.main__button {
	align-items: center;
	background-color: var(--button-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 24px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.main__button:hover,
.main__button:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(228, 228, 228, 0.65);
}

.main__button:hover {
	transform: translateY(-1px);
}

.main__button:active {
	background-color: #6e6eff;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
}

.title {
	font-size: 80px;
	color: #333333;
}

@media screen and (max-width: 1600px) {
	.title {
		font-size: 60px;
	}

	.main__button {
		font-size: 16px;
	}
}

@media screen and (max-width: 576px) {
	.title {
		font-size: 48px;
	}

	input {
		width: 320px;
		font-size: 14px;
	}
}

.upper-text {
	font-size: 14px;
	text-transform: uppercase;
}

.main-text {
	font-size: 42px;
	font-weight: 600;
	color: #333333;
}

.description {
	font-size: 14px;
	line-height: 20px;
}

.card-heading {
	font-size: 26px;
	font-weight: 400;
}

.headline {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem;
	margin-top: 6rem;
	margin-bottom: 4rem;
}

@media screen and (max-width: 992px) {
	.headline {
		margin-top: 4rem;
		margin-bottom: 3rem;
	}

	.main-text {
		font-size: 36px;
	}
}
@media screen and (max-width: 576px) {
	.headline {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

	.main-text {
		font-size: 34px;
	}
}

.card-headline {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.medium-text {
	font-size: 22px;
}

@media screen and (max-width: 576px) {
	.medium-text {
		font-size: 16px;
	}
}

.accordion {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	gap: 0.5rem;
	padding-left: 1.25rem;
}

.accordion-item {
	background-color: var(--accent-color);
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.4s;
	border-radius: 0.5rem;
	color: #fff;
}

@media screen and (max-width: 992px) {
	.accordion {
		padding: 0;
	}
}

.active {
	background-color: #2db5ff;
}

.panel {
	border-radius: 0.5rem;
	padding: 0 1rem;
	max-height: 0;
	overflow: hidden {
		display: none;
	}
	transition: max-height 0.2s ease-out;
}

.accent-color {
	background: #121fcf;
	background: linear-gradient(to right, #121fcf 0%, #00cfcf 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dropdown-menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 70px;
	width: 300px;
	visibility: hidden {
		display: none;
	}
	border-radius: 5px;
	background: #fff;

	li {
		padding: 0.7rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 992px) {
	.dropdown-menu {
		display: block;
	}
}

@media screen and (max-width: 576px) {
	.dropdown-menu {
		left: 2rem;
		width: unset;
		border-radius: 0.5rem;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	}
}

.dropdown-menu.open {
	visibility: visible;
}

.emoji {
	font-size: 30px;
}

.glass-card {
	background: rgba(255, 255, 255, 0.27);
	border-radius: 1.5rem;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.read-more-btn {
	background: none;
	border: none;
	color: #2db5ff;
	font-size: 14px;
	cursor: pointer;
	text-align: left;
}
.hidden {
	display: none;
}

.arrow {
	width: 15px;
	height: 15px;
	background: #2db5ff;
	border-radius: 2px;
	margin-left: 1px;
	padding: 2px 2px;
}
.full-text,
.short-text {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	opacity: 0;
}

.full-text.hidden,
.short-text.hidden {
	max-height: 0; /* Ensure this matches the initial state */
	opacity: 0;
}

/* When not hidden */
.full-text:not(.hidden),
.short-text:not(.hidden) {
	max-height: 500px; /* Arbitrary large value */
	opacity: 1;
}

.duration-btn.active {
	background-color: #2db5ff; /* Example active color */
	color: white;
}

.duration-btn {
	display: flex;
	flex-direction: column;
	margin-right: 5px;
	align-items: center;
	padding: 3px 8px;
	border-radius: 6px;
	color: #3d3d3d;
	background: #fff;
	border: none;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	cursor: pointer;
}

.certificates {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(300px, 1fr)
	); /* Creates a flexible grid layout */
	justify-content: center; /* Centers grid items */
	gap: 3rem;
	padding: 2rem;
	margin: auto; /* Center the container itself if needed */
}

.certificate {
	width: 100%; /* Ensures the certificate scales within the grid item */
	max-width: 300px; /* Maintains a consistent certificate width */
}

@media screen and (max-width: 992px) {
	.certificates {
		margin: 0 80px;
	}
}

@media screen and (max-width: 576px) {
	.certificates {
		margin: 0 40px;
	}
}

.checkbox-wrapper-4 * {
	box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 6px;
	overflow: hidden;
	transition: all 0.2s ease;
	display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
	margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
	background: rgba(0, 119, 255, 0.06);
}
.checkbox-wrapper-4 .cbx span {
	float: left;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	transform: scale(1);
	border: 1px solid #cccfdb;
	transition: all 0.2s ease;
	box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #fff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
	padding-left: 8px;
	line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
	border-color: #07f;
}
.checkbox-wrapper-4 .inp-cbx {
	position: absolute;
	visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
	background: #07f;
	border-color: #07f;
	animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
	stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}
@media screen and (max-width: 640px) {
	.checkbox-wrapper-4 .cbx {
		width: 100%;
		display: inline-block;
	}
}
@-moz-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
@-webkit-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
@-o-keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
@keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}
